/*LAB 1-1: LOCATION OBJECT & ROUTING*/
#mainContent{
	width: 300px;
	height:200px;
	padding:20px;
}
.nav{
	margin-bottom: 15px;
	text-decoration:none;
}
#nav li{
	display:inline;
	list-style:none;
	border:1px solid black;
	padding:3px 15px;
}
#nav a {
	text-decoration: none;
}